.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.portfolio__item {
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio__item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
    height: 30%;
}

.portfolio__item h3 {
    margin: 2rem 0;
}

.portfolio__item p {
    margin: 0 0 1.2rem 0;
    font-size: 0.9rem;
}

.portfolio__item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
    justify-content: flex-end;
}

.portfolio__item-content {
    height: 50%;
}
.portfolio__item-technologies {
  color: var(--color-light);
}
/**/
.btn.btn-primary svg {
  fill: var(--color-bg);
}
.portfolio__categories {
  text-align: center;
  margin: 0 auto 3rem auto ;
}
.portfolio__categories a{
  color: var(--color-light);
  margin-bottom: 20px;
  margin-right: 30px;
  margin-left: 30px;
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.portfolio__categories a:hover:before, .portfolio__categories a.active:before {
  width: 40px;
}
.portfolio__categories a:hover:before {
  width: 40px;
}
.portfolio__categories a:before {
  margin-top: -2px;
  content: '';
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 0;
  max-width: 60%;
  height: 2px;
  background: var(--color-primary);
  transition: all 0.3s cubic-bezier(0.3, 0, 0.3, 1);
  -moz-transition: all 0.3s cubic-bezier(0.3, 0, 0.3, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.3, 0, 0.3, 1);
  -o-transition: all 0.3s cubic-bezier(0.3, 0, 0.3, 1);
}
@media screen and (max-width: 1024px){
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}
  
@media screen and (max-width: 600px){
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}